<%- include ("../partials/header") %>
<%- include ("../partials/header") %>

<div class=" container p-0">
    <div class="text-center">
        <div class=" text-center column-center">
            <div class="class="logo>
                <a href="/">
                    <img height="80" src="https://www.karunya.edu/sites/default/files/logo.png.pagespeed.ce.WjgALcfVm7.png"></img>
                </a>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-primary bg-light text-center justify-content-between allnav">
    <a class="navbar-brand p-0" href="/exp2">Karunya University</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         
      <span class="navbar-toggler-icon"></span>
    </button>
                            
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
         <a class="nav-link " href="/about">About Us <span class="sr-only">(current)</span></a>
      </li>
        
      <li class="nav-item active">
         <a class="nav-link" href="/calendar">Calendar</a>
      </li>
     <li class="nav-item active">
         <a class="nav-link" href="/admission"> Admission</a>
      </li>
     

    </ul>

</div>
    
  </nav>
<%- include ("../partials/footer") %>