<%- include ("../partials/header") %>

<div class=" container p-0">
    <div class="text-center">
        <div class=" text-center column-center">
            <div class="class="logo>
                <a href="/exp2">
                    <img height="80" src="https://www.karunya.edu/sites/default/files/logo.png.pagespeed.ce.WjgALcfVm7.png"></img>
                </a>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-primary bg-light text-center justify-content-between allnav">
    <a class="navbar-brand p-0" href="/exp2">Karunya University</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         
      <span class="navbar-toggler-icon"></span>
    </button>
                            
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
         <a class="nav-link " href="/about">About Us <span class="sr-only">(current)</span></a>
      </li>
        
      <li class="nav-item active">
         <a class="nav-link" href="/calendar">Calendar</a>
      </li>
     <li class="nav-item active">
         <a class="nav-link" href="/admission"> Admission</a>
      </li>
     

    </ul>

</div>
    
  </nav>
  
<div class="container-fluid mt-2">
    <div class="container-fluid card border-info embed-responsive embed-responsive-16by9"> 
    <div ><video  autoplay muted loop class="embed-responsive-item" > <source src="https://karunya.edu/img/videos/karunya-2020.mp4" type="video/mp4"></video></div>
    </div>
    <div class="row">
        <div class="col">
        <div class="card border-info h-100 car1 mt-2 p-2">
       
            <div class="box-content"><h2 class="card-header ">Our Vision</h2><ul style="font-size:14px !important;"><li>True to its name Karunya which means 'Compassion' shall be an institution with social concern to address the problems of humanity through technical education, research and development, products, patents and extension.</li><li>The faculty and students of Karunya will be nurtured in character, ethics and spiritual discernment to serve the society with fervor and zeal.</li></ul></div>
         </div>
    </div>
     <div class="col">
          <div class="card border-info mt-2 h-100 p-2">
            <div class="box-content"><h2 class="card-header ">Our Mission</h2><ul style="text-align:justify; font-size:14px !important;"><li>To raise students to serve humanity by attaining high levels of academic excellence and professional competence with exemplary values and social concern.</li><li>To find solutions to human problems in areas relating to water, food, health and sustainable energy through scientific, social and technological research.</li><li>To setup care homes for physically and mentally challenged, the elderly and the terminally ill, enabling students to understand human needs through participation and dedication, solving problems through research, development, innovation and spiritual care.</li></ul></div>
          </div>  
     </div>
   </div>
    <div class="row">
        <div class="col">
   <div class="card border-info mt-3">

<div class="embed-responsive embed-responsive-16by9">
   
<iframe class="embed-responsive-item " src="https://www.youtube.com/embed/ktpG9OWzVPA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>
   </div>
   </div>
    
   <div class="col">
   <div class="card border-info mt-3">
       <div class="embed-responsive embed-responsive-16by9">
       <iframe class="embed-responsive-item"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.3598829721864!2d76.74187231455623!3d10.936163992213293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba866bd6aaaaaab%3A0xc650b8a75e7b51f0!2sKarunya+University!5e0!3m2!1sen!2sin!4v1511521352840" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>
    
    </div>
    </div>
   </div>
</div>
</div>
<%- include ("../partials/footer") %>