<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Karunya University</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="exp3.css">
        <style>
       </style>
    </head>
    <body>
        <header>
            <div class=" container-fluid p-0">
                <div class="text-center">
                    <div class=" text-center column-center">
                        <div class="class="logo>
                            <a href="/exp3">
                                <img height="80" src="https://www.karunya.edu/sites/default/files/logo.png.pagespeed.ce.WjgALcfVm7.png"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <nav id="mf" class="navbar navbar-expand-lg navbar-primary bg-light text-center justify-content-between allnav ">
              <div class="container">
                <a class="navbar-brand p-0" href="/exp3">Karunya University</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     
                  <span class="navbar-toggler-icon"></span>
                </button>
                                        
              <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                     <a class="nav-link " href="/exp2">Home <span class="sr-only">(current)</span></a>
                  </li>
                    
                  <li class="nav-item active">
                     <a class="nav-link" href="https://www.karunya.edu/cse/collaborations/Certification">Courses</a>
                  </li>
                 <li class="nav-item active">
                     <a class="nav-link" href="https://admissions.karunya.edu/"> Admission</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="https://www.karunya.edu/studentaffairs"> Students</a>
                 </li>
            
                </ul>
            
            </div>
                </div>
              </nav>
        </header>
        <div class="mf">
      <div class="">
        <section class="banner card">
            <section class="text text-center card-body mt-5">
                <div>
                    <p id="i1" class="card-body">Karunya Institute of Technology and Sciences, was founded with the noble vision to raise professionals and leaders of high academic calibre and unblemished character, nurtured with a strong motivation and commitment to serve humanity. The institution is the fulfillment of the vision of its founders Late Dr. D. G. S. Dhinakaran and the present Chancellor Dr. Paul Dhinakaran. Established in 1986 as an Engineering College, it was granted an autonomous status in 1999 and declared Deemed-to-be University by the University Grants Commission (UGC) in recognition of its academic excellence by the Ministry of Human Resources Development under section 3 of the UGC Act, 1956 vide notification no 9-3-2000-U3 dated 23.6.2004 of the Government of India.Karunya vision of the Founders into action,</p>
                </div></div>
            </section>
        </section>
      </div>
        <section id="image1" class="card">
              <p id="r1" class="card-header">AdmissionBlock</p> 
        </section>
            <section id="image2"class="card">
              <p id="r2" class="card-header">Students</p>  
            </section>
            <section id="image3" class="card">
              <p id="r3" class="card-header">Hostels</p>  
            </section>
            <section id="image4" class="card">
              <p id="r4" class="card-header">Grounds</p>  
            </section>
            <section id="image5" class="card">
              <p id="r5" class="card-header">Canteen</p>  
            </section>
            <section id="image6" class="card">
              <p id="r6" class="card-header">Library</p>  
            </section> 
        <footer id="f1">
            <p>Arise and Shine</p> 
        </footer>       
    </body>
</html>
