
<%- include ("partials/header") %>
	<div class="container-fluid text-center pt-5 ">
	   <div class="form-group ">

		  <form action="/login" method="post">
			<div class="form-group py-2"> 
				 <h4>
					 Login
				</h4>
			     <input style="margin: 0 auto;" class="form-control w-50" type="text" id="acd" name="username" placeholder="username">
			</div>
			<div class="password"> 
				  
			      <input style="margin: 0 auto;" class="form-control w-50" type="password" id="abd" name="password" placeholder="password">
			</div>
			<div class="form-group pt-2"> 
				  <button class="btn btn-primary w-50">
					Login
				  </button>
			</div>
		
		</div>
	</div>
  
		
<%- include ("partials/footer") %>