<?xml version="1.0" encoding="ISO-8859-1"?>
<?xml-stylesheet type="text/css" href="exp72.css"?>


<NEWSPAPER>

    <ARTICLE>     
        <HEADLINE> Headline1 </HEADLINE> 
        <BYLINE> Byline1   </BYLINE> 
        <LEAD> Lead1   </LEAD> 
        <BODY> Body1    </BODY> 
        <NOTES> Notes1   </NOTES> 
    </ARTICLE>    

    <ARTICLE>     
        <HEADLINE> Headline2</HEADLINE> 
        <BYLINE> Byline2   </BYLINE> 
        <LEAD> Lead2  </LEAD> 
        <BODY> Body2    </BODY> 
        <NOTES> Notes2   </NOTES> 
    </ARTICLE>   

    <ARTICLE>     
        <HEADLINE> Headline3 </HEADLINE> 
        <BYLINE> Byline3   </BYLINE> 
        <LEAD> Lead3   </LEAD> 
        <BODY> Body3   </BODY> 
        <NOTES> Notes3   </NOTES> 
    </ARTICLE>   

    <ARTICLE>     
        <HEADLINE> Headline4 </HEADLINE> 
        <BYLINE> Byline4   </BYLINE> 
        <LEAD> Lead4  </LEAD> 
        <BODY> Body4   </BODY> 
        <NOTES> Notes4   </NOTES> 
    </ARTICLE>   

    <ARTICLE>     
        <HEADLINE> Headline5 </HEADLINE> 
        <BYLINE> Byline5   </BYLINE> 
        <LEAD> Lead5  </LEAD> 
        <BODY> Body5   </BODY> 
        <NOTES> Notes5   </NOTES> 
    </ARTICLE>   

</NEWSPAPER>      


       
