<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>BMI Calculator</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"crossorigin="anonymous">
        <script src="scripts/bmi.js" defer></script>
	</head>
    <header>
        <div class=" container-fluid p-0 mf">
            <div class="text-center">
                <div class=" text-center column-center">
                    <div class="class="logo>
                        <a href="/exp3">
                            <img height="80" src="https://www.karunya.edu/sites/default/files/logo.png.pagespeed.ce.WjgALcfVm7.png"></img>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="mk"> </div>
        <div class="container">
        
          <div class="container mf">
              <nav  class="navbar navbar-expand-lg navbar-primary  text-center justify-content-between allnav ">
            <a class="navbar-brand p-0" href="/exp5">Karunya University</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 
              <span class="navbar-toggler-icon"></span>
            </button>
                                    
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                 <a class="nav-link " href="/exp5">Home <span class="sr-only">(current)</span></a>
              </li>
                
              <li class="nav-item active">
                 <a class="nav-link" href="/exp5">Calculator</a>
              </li>
             <li class="nav-item active">
                 <a class="nav-link" href="/bmi"> BMI</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/currency"> Currency</a>
             </li>
             <li class="nav-item active">
                <a class="nav-link" href="/exp5"> URK18CS180</a>
             </li>
            </ul>
        
        </div>
            </div>
          </nav></div>
    </header>
	<style media="screen">
		body{
			margin: 0;
			padding: 0;
			text-align: center;
			font-family: sans-serif;
			background-image: linear-gradient(120deg,#ff6b6b, #5f27cd);
			min-height: 100vh;
		}
		.d{
			width: 500px;
			position: absolute;
			top: 50%;
			left: 50%;
			background-color: #fff;
			transform: translate(-50%, -50%);
			padding: 20px;
			border-radius: 10px;
			box-shadow: 1px 1px 20px #ee5253;
		}
		h2{
			font-size: 30px;
			font-weight: 600;
		}
		.text1{
			text-align: left;
			margin-left: 150px;
		}
		#w, #h{
			color: #222f3e;
			text-align: left;
			font-size: 20px;
			font-weight: 200;
			outline: none;
			border: none;
			background: none;
			border-bottom: 1px solid #341f97;
			width: 200px;
		}
			#w:focus, #h:focus{
				border-bottom: 2px solid #341f97;
				width: 300px;
				transition: 0.5s;
			}
			#result{
				color: #341f97;
			}
			#btn{
				font-family: inherit;
				margin-top: 10px;
				border: none;
				color: #fff;
				background-image: linear-gradient(120deg,#ff6b6b, #5f27cd);
				width: 150px;
				padding: 10px;
				border-radius: 30px;
				outline: none;
				cursor: pointer;
			}
			#btn:hover{
				box-shadow: 1px 1px 10px #341f97;
			}
			#info{
				font-size: 12px;
				font-family: inherit;
			}
	</style>
	
	<body>
        
		<div class="d">
			<h2>BMI Calculator</h2>
			<p class="text1">Height</p>
			<input type="text" id="h">
			<p class="text1">Weight</p>
			<input type="text" id="w">
			<p id="result"></p>
			<button id="btn" onClick="BMI()">Calculate</button>
			<p id="info">Please enter height [cm] and weight [kg]</p>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>