#delete-form {
	display : inline;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: rgb(255,102,203);
} 
.jumbotron {
  background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
}
.desimg {
  width: auto;
  height: 500px;
  object-fit: contain;
}

.indximg{
  width: auto;
  height: 300px;
  object-fit: cover;
}

.indxj {
	background-image: url(https://wallpapercave.com/wp/yXmbxhx.jpg); 
}

.card {
  margin :auto;
}
	
.car1 {
  border-top-color: #034da2;
}


}
img {
    width: 500;
    height: 600;
}

.thumb {
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); 
}

