
.c1{
    margin:10%;
}
.banner{
    
    height:500px;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:15px;
    
    
    
}
li a:hover{
  background-color: yellow;
  color: black;
}
.padin{
  
  margin-top: 50px;
}

#i1{
  text-align: justify;
  color:white;
  line-height: 30px;
  word-spacing: 5px;
  font-style: italic;
  font-size: 20px;
  padding:280px 2px 2px 2px;
  margin:1%;
}
.text{
font-size:20px;
position: absolute;
background: rgba(0, 0, 0, 0.5); 
color: #f1f1f1;
}

#image1{
    
    background-size: cover;
    float: left;
    height:250px;
    width:500px;
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#image2{
    
    background-size: cover;
    float: left;
    height:250px;
    width:490px;
    
    box-sizing: border-box;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#image3{
   
    background-size: cover;
    float: left;
    height:250px;
    width:460px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#image4{
    
    background-size: contain;
    float: left;
    height:250px;
    width:505px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.img-thumbnail{
    
    background-size: cover;
    height:250px;
    width:490px;
    
}
#image6{
    
    background-size:cover;
    float: left;
    height:250px;
    width:460px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#r1{  
   /* background-color: grey;
    margin-top:216px;
    font-size:30px;
    opacity:1,0;*/
  text-align:center;
  font-size:20px;
  position:relative;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  padding: 15px;
  margin-top:200px;
}
#r2{  
   /* background-color: grey;
    margin-top:216px;
    font-size:30px;
    opacity:1,0;
    text-align:center;*/
  text-align:center;
  font-size:20px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  padding: 15px;
  margin-top:197px;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: rgb(255,102,203);
} 
#r3{  
    /*background-color: grey;
    margin-top:216px;
    font-size:30px;
    opacity:1,0;
    text-align:center;*/
  text-align:center;
  font-size:20px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  padding: 15px;
  margin-top:197px;
}
#r4{  
   /* background-color: grey;
    margin-top:216px;
    font-size:30px;
    opacity:1,0;
    text-align:center;*/
  text-align:center;
  font-size:20px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  padding: 15px;
  margin-top:197px;
}
#r5{  
 
  text-align:center;
  font-size:20px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  padding: 15px;
  margin-top:197px;
}
#r6{  
    
  text-align:center;
  font-size:20px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  padding: 15px;
  margin-top:198px;
}
#f1{
   
    text-align:center
    font-size:40px;
}
