<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exp6</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"crossorigin="anonymous">
  <link href="car.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="scripts/car.js" defer></script>
</head>
<header>
    <div class=" container-fluid p-0 mf">
      <div class="text-center">
          <div class=" text-center column-center">
              <div class="class="logo>
                  <a href="/exp3">
                      <img class="img-fluid" alt="Responsive image" src="https://www.karunya.edu/sites/default/files/logo.png.pagespeed.ce.WjgALcfVm7.png"></img>
                  </a>
              </div>
          </div>
      </div>
  </div>
  <div id="mk"> </div>
  <div class="container">
  
    <div class="container mf">
        <nav  class="navbar navbar-expand-lg navbar-primary  text-center justify-content-between allnav ">
      <a class="navbar-brand p-0" href="/exp6">Karunya University</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           
        <span class="navbar-toggler-icon"></span>
      </button>
                              
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
           <a class="nav-link " href="/exp6">Home <span class="sr-only">(current)</span></a>
        </li>
          
        <li class="nav-item active">
           <a class="nav-link" href="/car">Car Animation</a>
        </li>
       <li class="nav-item active">
           <a class="nav-link" href="/math"> Maths Game</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/exp6"> Clock</a>
       </li>
       <li class="nav-item active">
          <a class="nav-link" href="/exp6"> URK18CS180</a>
       </li>
      </ul>
  
  </div>
      </div>
    </nav></div>
  </header>
<body>
    
    <div class="moon animated "></div>

    <div class="skyline animated">
        <div class="building1-shadow"></div>
        <div class="building1">

            <div class="building-left-half"></div>
            <div class="building-right-half"></div>
        </div>
    </div>
    <div class="road animated">
        <div class="road-top-half animated"></div>
        <div class="road-bottom-half animated"></div>
    </div>

    <div class="car-container animated">
        <div class="car-top1">
            <div class="window1"></div>
            <div class="window2"></div>

        </div>
        <div class="car-top2 animated">
            <div class="door">
                <div class="door-knob"></div>
            </div>
        </div>
        <div class="car-bottom animated">
            <div class="wheel1-top animated"></div>
            <div class="wheel1 animated">
                <div class="wheel-dot1"></div>
                <div class="wheel-dot2"></div>
                <div class="wheel-dot3"></div>
                <div class="wheel-dot4"></div>

            </div>

            <div class="wheel2-top animated"></div>
            <div class="wheel2 animated">
                <div class="wheel-dot1"></div>
                <div class="wheel-dot2"></div>
                <div class="wheel-dot3"></div>
                <div class="wheel-dot4"></div>
            </div>
        </div>
    </div>

    <button type="button" class="play-animation btn-outline-success">Play Animation</button>
    <button type="button" class="stop-animation btn-outline-danger">Stop Animation</button>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>