<!doctype html>
<html>
    <head>
        <title>Karunya University</title>
        <link rel="stylesheet" type="text/css" href="exp4.css">
        <style>
       </style>
    </head>
    <body>
        <header>
            <h1>Karunya University</h1>
            <nav>
                <ul>
                    <li><a href="#Home.html" class="c1">Home</a></li>
                    <li><a href="https://admissions.karunya.edu/">Admission</a></li>
                    <li><a href="https://www.karunya.edu/cse/collaborations/Certification">Courses</a></li>
                    <li><a href="https://www.karunya.edu/studentaffairs">Students</a></li>
                    <li><a href="https://www.karunya.edu/studentaffairs">URK18CS180 </a></li>
                </ul>
            </nav>
        </header>
        <section class="banner">
            <section class="text">
                <div>
                    <p id="i1">Karunya Institute of Technology and Sciences, was founded with the noble vision to raise professionals and leaders of high academic calibre and unblemished character, nurtured with a strong motivation and commitment to serve humanity. The institution is the fulfillment of the vision of its founders Late Dr. D. G. S. Dhinakaran and the present Chancellor Dr. Paul Dhinakaran. Established in 1986 as an Engineering College, it was granted an autonomous status in 1999 and declared Deemed-to-be University by the University Grants Commission (UGC) in recognition of its academic excellence by the Ministry of Human Resources Development under section 3 of the UGC Act, 1956 vide notification no 9-3-2000-U3 dated 23.6.2004 of the Government of India.Karunya vision of the Founders into action, the institution is currently engaged in finding solutions to human problems in the four major areas such as Water, Food, Healthcare, and Energy through scientific and technological interventions.</p>
                </div>
            </section>
        </section>
        <section id="image1">
              <p id="r1">AdmissionBlock</p> 
        </section>
            <section id="image2">
              <p id="r2">Students</p>  
            </section>
            <section id="image3">
              <p id="r3">Hostels</p>  
            </section>
            <section id="image4">
              <p id="r4">Grounds</p>  
            </section>
            <section id="image5">
              <p id="r5">Canteen</p>  
            </section>
            <section id="image6">
              <p id="r6">Library</p>  
            </section> 
        <footer id="f1">
            <p>Arise and Shine</p> 
        </footer>       
    </body>
</html>
